// Primary colors
$gun-metal: hsl(215, 28%, 17%);
$prussian-blue: hsl(215, 30%, 22%);
$emerald: hsl(144, 70%, 58%);
$mountain-meadow: hsl(160, 84%, 39%);
$medium-spring-green: hsl(142, 93%, 65%);

// Neutral colors
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 11%);
$light-grey: hsl(255, 5%, 84%);

$clr-bg-body: $black;
$clr-bg-app: $gun-metal;

$fc-body: $black;
